
<header class="container" th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Clínica Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#request.requestURI == '/' ? 'active' : ''}"
                           th:href="@{/}" th:attr="aria-current=${#request.requestURI == '/' ? 'page' : null}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '/medico') ? 'active' : ''}"
                           th:href="@{/medico/list}" th:attr="aria-current=${#strings.startsWith(#request.requestURI, '/medico') ? 'page' : null}">Médicos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '/paciente') ? 'active' : ''}"
                           th:href="@{/paciente/list}" th:attr="aria-current=${#strings.startsWith(#request.requestURI, '/paciente') ? 'page' : null}">Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '/consulta') ? 'active' : ''}"
                           th:href="@{/consulta/list}" th:attr="aria-current=${#strings.startsWith(#request.requestURI, '/consulta') ? 'page' : null}">Consultas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
