<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Consultas do Paciente</title>
</head>
<body>
<!-- Exemplo de uso do método dados() do domínio -->
<p th:text="${paciente?.dados()}"></p>

<h3>Consultas de <span th:text="${paciente?.nome}"></span></h3>
<!-- Exemplo de uso do método consultas() do domínio (retorna String) -->
<pre th:text="${paciente?.consultas()}"></pre>

<table class="table" border="1">
  <thead>
  <tr>
    <th>Id</th>
    <th>Data</th>
    <th>Valor</th>
    <th>Observação</th>
    <th>Médico</th>
  </tr>
  </thead>
  <tr th:each="c : ${consultas}">
    <td th:text="${c.id}"></td>
    <td th:text="${#temporals.format(c.data, 'dd/MM/yyyy HH:mm')}"></td>
    <td th:text="${c.valor}"></td>
    <td th:text="${c.observacao}"></td>
    <td th:text="${c.medico?.nome}"></td>
  </tr>
</table>

<a th:href="@{/paciente/list}">Voltar para a lista de pacientes</a>
</body>
</html>
